<div class="vendor_profile">
    <div>
        <div class="min_container">
            <div class="profile_width">
                <div class="two_column_view">
                    <div class="left_side">
                        <div class="vendor_head">
                            <div class="profile_pic">
                                <img src="<%= vendor.img %>" alt="vendor Photo" id="vendor_profile-pic">
                            </div>
                            <div class="info-box">
                                <div class="infoin1">
                                    <div class="fcol">
                                        <div class="frow1">
                                            <div class="frowc1">
                                                <div class="vendor_details">
                                                    <h1 class="mod"><%= vendor.userDisplayName %> ></h1>
                                                </div>
                                                <div class="vendor_address">
                                                    <div class="addl">
                                                        <i class="marker"></i>
                                                    </div>
                                                    <div class="addr">
                                                        <h6 class="add"><span>Location</span>
                                                            <span class="sp">(View on Map)</span>
                                                        </h6>
                                                        <p class="pa"><%= vendor.userDisplayName %>, India</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="https://www.apple.com/in/iphone-13-pro/" class="frowc2">
                                                <span class="sp1"><i class="star"></i>4.4</span>
                                                <h6 class="dp">12 reiews</h6>
                                            </a>
                                        </div>
                                        <div class="frow2">
                                            <h6 class="phone">
                                                <i class="phone_symbol"></i>
                                                Contact
                                            </h6>
                                        </div>
                                    </div>
                                   
                                </div>

                            </div>
                        </div>
                        
                        
                        
                    </div>
                    <div class="right_side">
                        <div class="vendor_pricing">
                            <div>
                                <div class="vendorp1">
                                    <h6 class="vh">Starting Price</h6>
                                    <p class="vp">
                                        <span class="vs">
                                            
                                            
                                        </span>
                                    </p>
                                </div>
                                <div class="vendor_drop">
                                    <div class="vendorg">
                                        <div class="vendorg1">
                                            <p class="vp1">Starting Price of Room</p>
                                            <span class="vs1">4500 &nbsp; per room</span>
                                        </div>
                                    </div>
                                    <div class="vendorg">
                                        <div class="vendorg1">
                                            <p class="vp1">Starting Price of Decore</p>
                                            <span class="vs1">50000</span>
                                        </div>
                                    </div>
                                </div>
                                <p class="hr"></p>
                                <div class="vendorR">
                                    <div class="vendorR1">
                                        <div>
                                            <div class="vendorR2">
                                                <div class="vendorR3">
                                                    <div class="vendorR4">
                                                        <p class="vendorp">Rental Only</p>
                                                        <h6 class="vendorh6"></h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="send_inquiry">
                            
                            <div class="inquiry_form">
                                <div class="form_headding">
                                    <p class="fp">Hi<%=vendor.userDisplayName%></p>
                                </div>
                                <form action="#" class="vform">
                                    <div class="vform0">
                                        <div class="vform1">
                                            <div class="vf">
                                                <div class="vf1">
                                                    <div class="vf2">
                                                        <input type="text" placeholder="Full name"
                                                             aria-invalid="false" class="vf3">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="vff">
                                                <div class="vff1">
                                                    <div class="vff2">
                                                        <div class="vff3">
                                            
                                                            <input type="tel" placeholder="Mobile number" class="vff4">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="vform2">
                                            <div class="vf">
                                                <div class="vf1">
                                                    <div class="vf2">
                                                        <input type="text" placeholder="Email-address"
                                                             aria-invalid="false" class="vf3">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="vf" format="yyyy-MM-dd">
                                                <div class="vf11">
                                                    <input  placeholder="Function date*"
                                                         type="date" class="vf3" value="">

                                                </div>
                                            </div>
                                        </div>
                                        
                                        
                                       

                                    </div>
                                    <div class="vform4">
                                        <div class="send_inquiry1">
                                            <div class="btn">
                                                <div class="anbtn zz">
                                                    <i class="btninfo">Send Message</i>
                                                </div>
                                                <div class="anbtn xx">
                                                    <i class="btninfo">View Contact</i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="vf42">Complete information ensures you get accurate and timely
                                            vendor responses</div>
                                    </div>

                                </form>
                            </div>
                            <div class="enquiries_week">
                                <div class="eq1">In High Demand</div>
                                <div class="eq2">10 enquiries last week</div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="discription">
                    <div class="discription1">
                        <div class="discription2">
                            <h2 class="dis_head">
                                About <%=vendor.userDisplayName%>,
                                <!-- <span>
                                    &nbsp;Devanahalli,&nbsp;
                                </span>
                                Bangalore -->
                            </h2>
                            <div class="dis_body">
                               <div class="dis_body1">
                                <%=vendor.description  %> 
                               </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>